body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

header h1 {
  margin: 0;
}

main {
  padding: 20px 0;
}

section {
  margin-bottom: 30px;
}

h2 {
  color: #333;
}

ul {
  list-style: none;
  padding: 0;
}

footer {
  text-align: center;
  padding: 10px 0;
  background-color: #333;
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.responsive-img {
      max-width: 100%; /* Max width of the image is 100% of its container */
      height: auto; /* Maintain the aspect ratio */
      display: block; /* Ensure the image is displayed as a block element */
      margin: 0 auto; /* Center the image horizontally */
    }